<header>
    <nav class="main-nav">
        <div class="logo">
            <a href="{{relative}}index"><img src="{{relative}}images/logo-no-text2.png" alt="eQuill Labs Logo"></a>
        </div>
        <div class="nav-links">
            <a href="{{relative}}">Home</a>
            <a href="{{relative}}projects/projects">Projects</a>
            <a href="{{relative}}index#updates">Updates</a>
            <a href="{{relative}}index#about">About</a>
            <a href="{{relative}}index#community">Community</a>
        </div>
        <button id="mobile-menu-toggle" aria-label="Toggle menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </nav>
</header>
