<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{#if title}}{{title}} - {{/if}}eQuill Labs</title>
    
    <!-- Favicons -->
    <link rel="icon" type="image/x-icon" href="{{relative}}images/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="{{relative}}images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{relative}}images/favicon-16x16.png">
    <link rel="icon" type="image/png" href="{{relative}}images/favicon.png">
    
    <!-- iOS home screen icons -->
    <link rel="apple-touch-icon" href="{{relative}}images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{relative}}images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{relative}}images/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="{{relative}}images/apple-touch-icon-167x167.png">
    
    <!-- Android home screen icon -->
    <link rel="manifest" href="{{relative}}site.webmanifest">
    
    <!-- iOS specific meta tags -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="eQuill Labs">
    
    <!-- Theme color for browsers -->
    <meta name="theme-color" content="#0A0A0A">
    
    <!-- Rest of your existing head content -->
    <link rel="stylesheet" href="{{relative}}css/utility.css">
    <link rel="stylesheet" href="{{relative}}css/style.css">
    <link rel="stylesheet" href="{{relative}}css/stars.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet">
    <script src="{{relative}}js/nav.js" defer></script>
</head>
<body class="dark-mode" style="overflow-x: hidden !important;">
    {{> header}}

    <main>
        {{{body}}}
    </main>

    {{> footer}}
</body>
</html>
